@import 'ml-colors';
.ml-search-bar {
  overflow: hidden;
  background-color: $ml-search-bar;
  
  a {
    background-image:url('../assets/Logo_ML.png');
    background-repeat:no-repeat;
    background-position: center;
    top: 8px;
    position: sticky;
    right: 1%;
    width: 5%;
    height: 4%;
    padding: 50px;
  }

  input[type=text] {
    width: 65%;
    padding: 10px;
    padding-left: 1%;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
  }

  .search-container {
    text-align: center;

    button {
      height: 40px;
      padding: 14px;
      width: 40px;
      background: $ml-background;
      background-image:url('../assets/ic_Search.png');
      background-repeat:no-repeat;
      background-position: center;
      font-size: 17px;
      border: none;
      cursor: pointer;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px
    }
  }

}

